
.ratings-container {
  padding: 20px;
  text-align: center;
  margin-top: 40px; 
}

.ratings-container h1 {
  color: #ff9900;
  margin-bottom: 30px;
  line-height: 1.5;
}

.form-panel {
  max-width: 450px; 
  margin: 0 auto;   
  text-align: left; 
  padding: 30px;    
  
  background-color: #2b2b3a;
  border: 4px solid #ff9900;
  box-shadow: 8px 8px 0px 0px #1a1a2a;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-family: 'VT323', Courier, monospace !important;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffc72c; 
  display: block;
  margin-bottom: 8px;
}

select,
textarea {
  font-family: 'VT323', Courier, monospace !important;
  font-size: 1.4em;
  color: #fff;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #1a1a2a;
  border: 2px solid #ff9900;
}

.rating-stars-group .stars-wrapper {
  font-size: 40px;
  cursor: pointer;
  letter-spacing: 5px;
  user-select: none;
  text-align: center; 
  margin: 10px 0;
}


.pixel-button, .file-button {
  color: #000000 !important; 
  font-family: 'Press Start 2P', monospace;
  font-size: 0.8em; 
  width: 100%;      
  box-sizing: border-box;
  text-align: center;
  margin-top: 5px;
  display: block;
}

.file-upload-wrapper {
  display: block;
}
.file-name {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 0.8em;
  color: #ccc;
}

.submit-button {
  font-size: 1em;
  padding: 15px;
  margin-top: 20px;
}

.error-message {
  font-family: 'VT323', Courier, monospace !important;
  font-size: 1.3em;
  font-weight: bold;
  color: #ff4d4d;
  margin-top: 5px;
}

.audio-player-wrapper {
  text-align: center;
  margin-top: 15px;
}

audio {
  width: 100%;
  height: 40px;
  margin-top: 5px;
}


.scenario-preview-card {
  background-color: #1a1a2a;
  border: 2px solid #ff9900;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.preview-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  
  image-rendering: pixelated;
  border-bottom: 2px solid #ff9900;
  margin-bottom: 5px;
}

.scenario-name {
  font-family: 'Press Start 2P', monospace;
  font-size: 0.8em;
  color: #ff9900;
  margin: 0;
}