<nav class="main-nav">
  
  <div class="logo">
    <span>9 VIDAS WEB</span>
  </div>

  <ul>
    <li>
      <a routerLink="/gallery" routerLinkActive="active">Lore & Galería</a>
    </li>
    <li>
      <a routerLink="/scores" routerLinkActive="active">Marcadores</a>
    </li>
    <li>
      <a routerLink="/ratings" routerLinkActive="active">Calificaciones</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Soporte/Contacto</a>
    </li>
  </ul>

  <img src="assets/cat-walking.gif" class="walking-cat" alt="Gato caminando">

</nav>