

.scores-container {
  padding: 20px;
  text-align: center; 
  margin-top: 40px; 
}

.scores-container h1 {
  color: #ff9900;
  margin-bottom: 30px; 
  padding-bottom: 10px; 
  text-align: center;
  text-transform: uppercase;
  position: relative;
  
  line-height: 1.5; 
  font-size: 2em; 
}

.scores-container h1::after {
  content: '';
  display: block;
  width: 30%;
  height: 4px;
  background-color: #ff9900;
  margin: 0 auto;
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0;
}

.leaderboard-panel {
  display: inline-block; 
  background-color: #2b2b3a; 
  border: 4px solid #ff9900; 
  box-shadow: 6px 6px 0px 0px #1a1a2a; 
  padding: 10px;
  margin-bottom: 20px; 
}

table {
  width: 100%;
  border-collapse: collapse; 
  font-size: 1.1em;
  color: #fff;
}

thead th {
  background-color: #ff9900; 
  color: #1a1a2a; 
  padding: 12px 15px;
  text-transform: uppercase;
  border: 2px solid #1a1a2a; 
}

tbody tr {
  border-bottom: 1px dashed #4a4a58; 
}

tbody tr:last-child {
  border-bottom: none;
}

tbody td {
  padding: 10px 15px;
}

.top-rank {
  color: #ffc72c; 
  font-weight: bold;
}

.rank-column {
  width: 50px;
}

.data-source-note {
  margin-top: 0; 
  font-size: 0.8em;
  color: #ccc;
}